# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo

# Logs and databases
*.log
*.sqlite

# Output files
output/

